In [1]:
import pandas as pd

In [2]:
fileprocess = pd.read_csv(r'D:\FTA_sourcecode\INFOBANK_module\HOSE_module\log_HOSE\log_fileprocess.csv',header=None)
filetrash = pd.read_csv(r'D:\FTA_sourcecode\INFOBANK_module\HOSE_module\log_HOSE\log_filetrash.csv',header=None)
fileprocess

                                                 0
0      Trang trong - Chi so tai chinh cua CP.xls\1
1      Trang trong - Chi so tai chinh cua CP.xls\1
2      Trang trong - Chi so tai chinh cua CP.xls\1
3      Trang trong - Chi so tai chinh cua CP.xls\1
4      Trang trong - Chi so tai chinh cua CP.xls\1
...                                            ...
27578                             OM251006d3.xls\2
27579                             OM261006d3.xls\2
27580                             OM271006d3.xls\2
27581                             OM301006d3.xls\2
27582                             OM311006d3.xls\2

[27583 rows x 1 columns]

In [3]:
fileprocess = fileprocess[~fileprocess[0].str.contains("TKGD tung phien (Sessions).xls\\3",regex=False)]
fileprocess = fileprocess[(~fileprocess[0].str.contains("OM",regex=False)) & (~fileprocess[0].str.contains("d3.xls\\2",regex=False))]
fileprocess

                                                       0
0            Trang trong - Chi so tai chinh cua CP.xls\1
1            Trang trong - Chi so tai chinh cua CP.xls\1
2            Trang trong - Chi so tai chinh cua CP.xls\1
3            Trang trong - Chi so tai chinh cua CP.xls\1
4            Trang trong - Chi so tai chinh cua CP.xls\1
...                                                  ...
23178        20240315 - TKGD tung phien (Sessions).xls\4
23179      20240314 - TKGD NDTNN (Foreign Trading).xls\2
23180      20240315 - TKGD NDTNN (Foreign Trading).xls\2
23181  20240314 - TK Cung cau hang ngay (Order placem...
23182  20240315 - TK Cung cau hang ngay (Order placem...

[23183 rows x 1 columns]

In [4]:
filetrash = filetrash[~filetrash[0].str.contains("TKGD tung phien (Sessions).xls\\3",regex=False)]
filetrash = filetrash[(~filetrash[0].str.contains("OM",regex=False)) & (~filetrash[0].str.contains("d3.xls\\2",regex=False))]
filetrash

                                                       0
0                                              trashname
1                                              trashname
2                                              trashname
3                                              trashname
4                                              trashname
...                                                  ...
20252        20240415 - TKGD tung phien (Sessions).xls\2
20253     20240415 - TKGD tung phien (Sessions).xls\2.CW
20256        20240415 - TKGD tung phien (Sessions).xls\4
20257     20240415 - TKGD tung phien (Sessions).xls\4.CW
20258  20240415 - TKGD tung phien (Sessions).xls\4.OD...

[18592 rows x 1 columns]

In [5]:
fileprocess.to_csv(r'D:\FTA_sourcecode\INFOBANK_module\HOSE_module\log_HOSE\log_fileprocess.csv',header=False,index=False)
filetrash.to_csv(r'D:\FTA_sourcecode\INFOBANK_module\HOSE_module\log_HOSE\log_filetrash.csv',header=False,index=False)